<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/cars/create">Add New Car</a>
      <a href="/cars/view">View all Cars</a>
      <a href="/cars/update">Update car</a>
      <a href="/cars/delete">Delete car</a>
    </nav>
    <h1>this is Cars Delete page</h1>
    <h1>Delete a Car</h1>
    <h2>All Cars</h2>

    <% if (allCars.length > 0) { %>
    <ol>
      <% allCars.forEach((car) => { %>
      <li>
        <strong>ID:</strong> <%= car._id %>,
        <strong>Make:</strong> <%= car.make %>, 
        <strong>Model:</strong> <%= car.model %>, 
        <strong>Year:</strong> <%= car.year %>, 
        <strong>Mileage:</strong> <%= car.mileage %> miles, 
        <strong>Color:</strong> <%= car.color %>, 
        <strong>Price:</strong> $<%= car.price %>
      </li>
      <% }) %>
    </ol>
    <% } else { %>
    <p>No cars available to display.</p>
    <% } %>
 
    <form action="/cars/delete" method="POST">

      <label for="carId">Car ID to Delete:</label>
      <input type="text" name="carId" id="carId" required>
  
      <button type="submit">Delete Car</button>
    </form>
  </body>
</html>
